{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for slider in sliders %}
{% if slider.url == '/perfil' %}
<section class="page_banner" style="background: url({{slider.imagen_base.url}}) no-repeat center center / cover ;">
</section>
{% endif %}
{% endfor %}


<section class="about_section">
    <div class="container">
        {% for t in p %}

        <div class="row">
            <div class="col-lg-5">
                <div class="">
                    <img src="{{t.imagen.url}}" alt="ronny.png" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ab_contents">
                    <h5 class="text-uppercase sec_sub_title">PERFIL</h5>
                    <h2 class="sec_title text-uppercase">
                        <h3>{{t.nombre}} </br>
                            <h5>{{t.titulo}}</h5>
                        </h3>

                    </h2>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <div class="icon_box_5">
                                <!-- <i class="noun-noun_integrity_1684637"></i> -->
                                {{t.pensamiento}}
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 15px;">
                            <div class="icon_box_2">
                                <i class="noun-noun_call_1624888"></i>
                                <h4>Telefono</h4>
                                <p>{{t.telefono}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon_box_2">
                                <i class="noun-noun_Email_485891"></i>
                                
                                <a target="_blank" href="{{t.github}}" class="fac"><i
                                    class="noun-noun_Email_485891"></i>{{t.email}}</a></li>
                                    <p></p>
                            </div>
                        </div>
                        <div class="col-md-6"style="margin-bottom: 15px;" >
                            <div class="icon_box_2">
                                <i class="fa fa-home"></i>
                                <h4>Dirección:</h4>
                                <p>{{t.direccion}}</p>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="icon_box_2">
                                <a target="_blank" href="{{t.likein}}" class="fac"><i
                                    class="fa fa-linkedin-square"></i>Likein:</a></li>
                                
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 15px;">
                            <div class="icon_box_2">
                                <i class="fa fa-birthday-cake"></i>
                                <h4>Cumpleaños:</h4>
                                <p>{{t.cumpleanos}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon_box_2">
                                <a target="_blank" href="{{t.github}}" class="fac"><i
                                    class="fa fa-facebook"></i>Facebook</a></li>
                                    
                            </div>  


                        </div>
                        <div class="col-md-6" style="margin-bottom: 25px;">
                            
                        </div>
                        <div class="col-md-6" style="margin-bottom: 35px;">
                            <div class="icon_box_2">
                                <a target="_blank" href="{{t.github}}" class="fac"><i
                                    class="fa fa-github"></i>Github</a></li>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a class="vor_btn_lg text-uppercase" href="{{t.curriculo.url}}" >curriculo </a>

                        </div>
                        <div class="col-md-6">
                            <a class="vor_btn_lg text-uppercase" href="mailto:ronnyfer95@gmail.com" >Contratame ahora </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="why_choose_us_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <h5 class="sec_sub_title text-uppercase">Why choose us</h5> -->
                <h2 class="sec_title">PASATIEMPOS E INTERESES</h2>
            </div>
        </div>
        <div class="row">
            {% for p in h %}
            <div class="col-lg-5 col-md-6">
                <div class="text_box">
                    <div class="icon_box_2 white">
                        <img src="{{p.imagen_icono.url}}" height="100px"/>
                        <h3>{{p.nombre}}</h3>
                        <!-- <p>{{t.github}}</p> -->
                    </div>                    
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>

{% endblock %}