{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page_banner"></section>

<section class="funfactSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h5 class="text-uppercase sec_sub_title">Who we are?</h5>
                <h2 class="sec_title">
                    We help you communicate with great<br /> design strategy and execution
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="singleFacts text-center">
                    <h2>$<span class="timer">1</span>M+</h2>
                    <h6>Revenue Generated</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleFacts text-center">
                    <h2><span class="timer">2,000</span>+</h2>
                    <h6>Project Launched</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleFacts text-center">
                    <h2><span class="timer">10</span>+</h2>
                    <h6>Years of Experiences</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ab_img tw-stretch-element-inside-column">
                    <img src="{% static 'images/about/1.jpg' %}" alt="Vorzex" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ab_contents">
                    <h5 class="text-uppercase sec_sub_title">Who we are?</h5>
                    <h2 class="sec_title">
                        We work with big brands and agencies through to small businesses and startups.
                    </h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon_box_5">
                                <i class="noun-noun_integrity_1684637"></i>
                                <h3>Our Integrity</h3>
                                <p>
                                    We take a bottom-line approach to each project. Our clients consistently see
                                    increased visitor,
                                    enhanced brand loyalty and new leads thanks to our work.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon_box_5">
                                <i class="noun-noun_reliability_883114"></i>
                                <h3>Our Reliability</h3>
                                <p>
                                    We take a bottom-line approach to each project. Our clients consistently see
                                    increased visitor,
                                    enhanced brand loyalty and new leads thanks to our work.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_misstion_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="mission text-center">
                    <h2>Our Mission</h2>
                    <p>
                        Our mission is to help businesses achieve solid brand recognition and increase their profits
                        through development and online strategies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client_testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h2 class="sec_title">What our customers say about us</h2>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="testimonial_slider">
                    <div class="testimonial_item">
                        <p>
                            “There are design companies, and then there are user experience, design, consulting,
                            interface design, brilliant, and professional. By far one of the worlds best
                            known brands.”
                        </p>
                        <h5 class="text-uppercase">Jack Lawson</h5>
                        <span>Newyork - USA</span>
                    </div>
                    <div class="testimonial_item">
                        <p>
                            “There are design companies, and then there are user experience, design, consulting,
                            interface design, brilliant, and professional. By far one of the worlds best
                            known brands.”
                        </p>
                        <h5 class="text-uppercase">Jack Lawson</h5>
                        <span>Newyork - USA</span>
                    </div>
                    <div class="testimonial_item">
                        <p>
                            “There are design companies, and then there are user experience, design, consulting,
                            interface design, brilliant, and professional. By far one of the worlds best
                            known brands.”
                        </p>
                        <h5 class="text-uppercase">Jack Lawson</h5>
                        <span>Newyork - USA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}