{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for slider in s %}
    {% if slider.url == '/contact' %}
      <section class="page_banner" style="background: url({{slider.imagen_base.url}}) no-repeat center center / cover ;">
      </section>
    {% endif %}
{% endfor %}
<section class="contact_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <h2 class="sec_title">Ponte en contacto con nuestro equipo</h2>
                <p class="vor_lead">
                    Ingrese sus datos y nos pondremos en contacto para discutir su proyecto.
                </p>
                <div class="clearfix"></div>
                {%for pp in p %}
                
                <div class="icon_box_2">
                    <i class="noun-noun_call_1624888"></i>
                    <h4>Llámanos</h4>
                    <p>+593-{{pp.telefono}}</p>
                </div>IO
                <div class="icon_box_2">
                    <i class="noun-noun_Email_485891"></i>
                    <h4>Escribenos</h4>
                    <p>{{pp.email}}</p>
                </div>
                <div class="icon_box_2">
                    <i class="noun-noun_Address_1271842"></i>
                    <h4>Dirección</h4>
                    <p>{{pp.direccion}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-8 col-md-7">
                {% if "valido" in request.GET %}
                <h5 class="sec_sub_title text-uppercase">Gracias por escribirnos</h5>
                {% endif%}
                <div class="quotationForm bg_button_2">
                    <form method="post" action="">
                        {%csrf_token%}
                        <div class="row">
                            {{miFormulario}}

                            <div class="col-lg-12">
                                <button type="submit">Enviar<i class="noun-noun_Arrow_1896673"></i></button>
                                <div class="con_message alert"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}