{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- popup sidebar widget -->

<!-- popup sidebar widget -->
<section class="slider_03">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_3" class="rev_slider3" data-version="5.4.5" style="display:none">
            <ul>
                {% for slider in sliders %}
                {% if slider.url == '/' %}
                
                <li data-index="{{slider.id}}" data-transition="random-premium" data-slotamount="default"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
                    data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="" data-rotate="0"
                    data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4=""
                    data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                    data-description="">
                    <img src="{{slider.imagen_base.url}}" alt="Ocean" class="rev-slidebg">
                    <div class="tp-caption ws_nowrap" data-frames='[{"delay":1300,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},
                         {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-x="left" data-y="center" data-hoffset="0" data-voffset="['-40', '-40', '-40', '0']"
                        data-width="['550', '550', '550', '100%']" data-height="['200]" data-whitesapce="['normal']"
                        data-fontsize="['60', '60', '60', '30']" data-lineheight="['60', '60', '60', '36']"
                        data-fontweight="['700']" data-color="['#FFF']"
                        data-textAlign="['left', 'left', 'left', 'center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,10,0,20]">
                        {{slider.titulo}}</div>
                    <div class="tp-caption tp-resizeme normalWraping" data-frames='[{"delay":1600,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},
                         {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-x="left" data-y="center" data-hoffset="0" data-voffset="['94', '94', '94', '60']"
                        data-width="['480', '480', '480', '100%']" data-height="['auto]" data-whitesapce="['normal']"
                        data-fontsize="['20', '20', '20', '20']" data-lineheight="['30', '30', '30', '30']"
                        data-fontweight="['400']" data-color="['#FFF']"
                        data-textAlign="['left', 'left', 'left', 'center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,10,0,20]">
                        {{slider.subtitulo}}</div>
                    <div class="tp-caption tp-resizeme normalWraping" data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},
                         {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-x="left" data-y="center" data-hoffset="0" data-voffset="['180', '180', '180', '150']"
                        data-width="['100%']" data-height="['auto]" data-whitesapce="['normal']" data-fontsize="16"
                        data-lineheight="['30', '30', '30', '30']" data-fontweight="500"
                        data-textAlign="['left', 'left', 'left', 'center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,10,0,20]"><a
                            href="about1.html" class="vor_btn_1">Aprende más<i class="noun-noun_Arrow_1896673"></i></a>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</section>
<section class="what_we_do_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h5 class="sec_sub_title text-uppercase">QUE HACEMOS?</h5>
                <h2 class="sec_title">
                    Te ayudamos a comunicarte con una gran estrategia y ejecución de diseño.
                </h2>
                <p class="vor_lead">
                    Trabajamos en estrecha colaboración con cada cliente para desarrollar soluciones digitales
                    convincentes que impulsen un compromiso significativo y el éxito comercial.
                </p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb84">
                        <div class="icon_box_1 text-left">
                            <i class="noun-noun_web-design_1262220"></i>
                            <h3><a href="{% url 'Contact' %}">Diseño y desarrollo web</a></h3>
                            
                            <a href="{% url 'Contact' %}" class="learmore">Aprende más<i
                                    class="noun-noun_Arrow_1896673"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb84">
                        <div class="icon_box_1 text-left">
                            <i class="noun-noun_Logo-Design_1246401"></i>
                            <h3><a href="{% url 'Contact' %}">Diseño de logotipos y marca</a></h3>
                            
                            <a href="{% url 'Contact' %}" class="learmore">Aprende más<i
                                    class="noun-noun_Arrow_1896673"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="icon_box_1 text-left">
                            <i class="noun-noun_web-design_1118805"></i>
                            <h3><a href="{% url 'Contact' %}">Diseño y desarrollo de aplicaciones móviles</a></h3>
                            
                            <a href="{% url 'Contact' %}" class="learmore">Aprende más<i
                                    class="noun-noun_Arrow_1896673"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="icon_box_1 text-left">
                            <i class="noun-noun_Graphic-Design_898458"></i>
                            <h3><a href="{% url 'Contact' %}">Ilustración y animación digital</a></h3>
                            
                            <a href="{% url 'Contact' %}" class="learmore">Learn More<i
                                    class="noun-noun_Arrow_1896673"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client_testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h2 class="sec_title">Que dicen los clientes sobre nosotros</h2>
            </div>
            <div class="col-lg-7 col-md-8">
                {% for c in customers %}
                <div class="testimonial_slider{{c.id}}">
                    <div class="testimonial_item{{c.id}}">
                        <p>
                            {{c.subtitulo}}
                        </p>
                        <h5 class="text-uppercase">{{c.titulo}}</h5>
                        <span>{{c.direcion}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="team_section">
    <div class="container">
        <div class="col-lg-12 text-center">
        </br>
            <h5 class="sec_sub_title text-uppercase">DETRÁS DE LA ESCENA</h5>
            <h2 class="sec_title">
                Conozca al equipo detrás de Developer.
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="singleTM">
                    {% for t in teams %}
                    <img src="{{t.imagen.url}}" alt="">
                    <div class="tm_content">
                        <h3><a href="#">{{t.nombre}}</a></h3>
                        <p>{{t.cargo}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
</br>
<section class="start_new_project bg_black_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h5 class="sec_sub_title white text-uppercase">INICIAR UN NUEVO PROYECTO</h5>
                <h2 class="sec_title white">
                    ¿Listo para hacer algo increíble con nosotros?
                </h2>
                <p class="vor_lead white">
                    Ingrese sus datos y nos pondremos en contacto para discutir su proyecto.
                </p>
                <div class="clearfix"></div>
                {% for pt in p %}
                <div class="iconboxes">
                    <div class="icon_box_2 white">
                        <i class="noun-noun_call_1624888"></i>
                        <h4>Llámanos</h4>
                        <p>{{pt.telefono}}</p>
                    </div>
                    <div class="icon_box_2 white">
                        <i class="noun-noun_Email_485891"></i>
                        <h4>Escribenos</h4>
                        <p>{{pt.email}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6 col-md-6">
                {% if "valido" in request.GET %}
                <h5 class="sec_sub_title text-uppercase">Gracias por escribirnos</h5>
                {% endif%}
                <div class="quotationForm lightmode bg_button_2">
                    <form method="post" action="" style="color: white;">
                        {%csrf_token%}
                        <div class="row">
                            {{miFormulario}}

                            <div class="col-lg-12">
                                <button type="submit">Enviar<i class="noun-noun_Arrow_1896673"></i></button>
                                <div class="con_message alert"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}